{% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>
        .child-questions {
            padding-left: 25px;
            margin-left: 25px;
            border-left: 2px dotted #da3743;
        }

        .bg-corona {
            background: url({% static 'images/corona.jpg' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            background-blend-mode: darken;
        }

        .form-check-inline > label > input {margin-top:4px}
        .form-check-inline > label > span {cursor:pointer}
    </style>
{% endblock %}

{% block body %}
    {% if CLINIC_ID == 3552 %}
        {% include '../rendrcare/covid_vaccine_qualification_rendr.html' %}
        {% include '../rendrcare/covid_screening_rendr.html' %}
    {%  else %}
        {% include './covid_vaccine_qualification.html' %}
        {% include './covid_screening.html' %}
    {% endif %}
    {% include './subscribe_form_popup.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('#fmEditor').submit(function () {
            fmVaccineQualificationOnSubmit();
            return false;
        })
    </script>
    <script>
    $(document).ready(()=>{
        let sm = $('#subscribeModal')
        if(!window.localStorage.getItem('hidesubsribe')) {
            sm.modal()
        }
        sm.on('hidden.bs.modal', function (e) {
          window.localStorage.setItem('hidesubsribe','1');
        })
    })
    </script>
 {% if CLINIC_ID == 3552 %}
     {% include '../rendrcare/covid_screening_js_rendr.html' %}
  {%  else %}
     {% include './covid_screening_js.html' %}
 {% endif %}
{% endblock %}