<main id="mainForm1">
    <!-- Call to Action -->


    <!-- Call to Action -->
    <div class="bg-corona g-py-100">
        <div class="g-max-width-645 text-center mx-auto">

            <h1 class="g-color-white g-font-weight-600" data-i18n="covid-intake-title">Find the Nearest COVID-19
                Vaccination Center</h1>

        </div>
    </div>
    <!-- End Call to Action -->
    <!-- Login - Heading -->
    <div class="g-max-width-645 g-pt-100 mx-auto g-mb-80">
        <h2 class="mb-4  text-center" data-i18n="covid-intake-form-name">Vaccine Qualification</h2>
                    <p class="lead text-center" >Vaccine supply is currently limited and will be distributed in phases, starting with the most essential and most vulnerable individuals. See the current list below of qualified individuals from NYC Department of Health.</p>

        <p class="text-center"><a class="btn btn-sm btn-primary"
                                  onclick="window.open('https://www1.nyc.gov/site/doh/covid/covid-19-vaccine-eligibility.page', '_blank', 'location=yes,height=1024,width=768,scrollbars=yes,status=yes');"

                                  href="#">Click here to see full
            details</a>
        </p>
    </div>
    <!-- End Login - Heading -->

    <!-- Login -->
    <div class="container g-pb-30">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 g-mb-70">

                <div class="lead" style="font-size: small">

                    <h5>New York State Phase 1a eligible groups:</h5>
                    <h6>Health Care Workers</h6>
                    <ul>
                        <li>High-risk hospital workers (emergency room workers, ICU staff and Pulmonary Department
                            staff)
                        </li>
                        <li>Federally Qualified Health Center employees</li>
                        <li>Emergency Medical Services (EMS) workers</li>
                        <li>Coroners, medical examiners and certain funeral workers</li>
                        <li>Urgent Care providers</li>
                        <li>Individuals administering COVID-19 vaccines, including local health department staff</li>
                        <li>All Outpatient/Ambulatory frontline, high-risk health care workers of any age who provide
                            direct
                            in-person patient care
                        </li>
                        <li>All staff who are in direct contact with patients (such as reception staff)</li>
                        <li>All frontline, high-risk public health workers who have direct contact with patients,
                            including
                            those conducting COVID-19 tests, handling COVID-19 specimens and COVID-19 vaccinations
                        </li>
                    </ul>
                    <p>&nbsp;This includes, but is not limited to:</p>
                    <ul>
                        <li>Doctors who work in private medical practices and their staff</li>
                        <li>Doctors who work in hospital-affiliated medical practices and their staff</li>
                        <li>Doctors who work in public health clinics and their staff</li>
                        <li>Registered Nurses</li>
                        <li>Specialty medical practices of all types</li>
                        <li>Dentists and Orthodontists and their staff</li>
                        <li>Psychiatrists and Psychologists and their staff</li>
                        <li>Physical Therapists and their staff</li>
                        <li>Optometrists and their staff</li>
                        <li>Pharmacists and Pharmacy Aides</li>
                        <li>Home care workers</li>
                        <li>Hospice workers</li>
                    </ul>
                    <h6>Residents and Staff in Certain Group Living Facilities</h6>
                    <ul>
                        <li>Nursing homes and other congregate care facilities</li>
                        <li>NYS Office of Mental Health, Office People with Developmental Disabilities, and Office of
                            Addiction Services and Supports facilities
                        </li>
                    </ul>
                    {#                <h5>Phase 1b:<br>#}
                    {#                    Currently Eligible Groups</h5>#}
                    {#                <ul>#}
                    {#                    <li>People ages 75 and older</li>#}
                    {#                    <li>Teachers and education workers</li>#}
                    {#                    <li>First responders</li>#}
                    {#                    <li>Public safety workers</li>#}
                    {#                    <li>Public transit workers</li>#}
                    {##}
                    {#                </ul>#}
                </div>
                <hr>
                <!-- Login Form -->
                <form class="g-mb-30" method="post" id="fmEditor">
                    {% csrf_token %}
                    <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

                    <div class="g-mb-20">

                        <h3 class="h5 g-mb-20"><span data-i18n="rendr-q0-i">Are you a worker in a healthcare setting (including long term care setting)?</span><i
                                class="fa fa-fw fa-asterisk text-danger"></i>
                        </h3>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q0y"><input type="radio" name="q0"
                                                    data-eligible_check_yes="1" value="Yes"
                                                    class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                    id="q0y" required>
                                <span data-i18n="somos-yes">Yes</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q0n"><input type="radio" name="q0"
                                                    data-eligible_check_no="1" value="No"
                                                    class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                    id="q0n" required>
                                <span data-i18n="somos-no">No</span></label>
                        </label>

                    </div>


                    <button class="btn btn-block btn-success g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15"
                            type="submit"><i class="fa fa-fw fa-check-circle-o"></i><span
                            data-i18n="somos-submit">Submit</span></button>
                </form>
                <!-- End Login Form -->


            </div>

        </div>
    </div>
    <!-- Login -->


</main>


<script type="text/javascript">
    function fmVaccineQualificationOnSubmit() {
        if (document.getElementById('q0n').checked) {
            alert('Sorry you’re not qualified for the vaccine at this time. Come back to this page on a later date.');
            return false;
        } else if (document.getElementById('q0y').checked) {
            $('#mainForm1').hide();
            $("html, body").animate({scrollTop: 0});
            $('#mainForm2').show();
        }
        return false;
    }

</script>