<table cellpadding="3" cellspacing="3">
    <tr>
        <td>My First Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td style="width: 400px"><input class="form-control" type="text" isrequire="1" name="PatientFirstName"
                                        id="PatientFirstName"
                                        value="{{ Pat.PatientFirstName }}" maxlength="32" style="width: 100%"></td>
    </tr>
    <tr>
        <td>My Last Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" isrequire="1" name="PatientLastName" id="PatientLastName"
                   value="{{ Pat.PatientLastName }}" maxlength="32" style="width: 100%">
        </td>
    </tr>
    <tr>
        <td>DOB<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td>
            <div class="input-group g-brd-primary--focus">
                <input type="text" name="PatientDOB" maxlength="10" isrequire="1"
                       id="PatientDOB" value="{{ Pat.PatientDOB }}"
                       class="form-control form-control-md g-brd-right-none rounded-0"
                       placeholder="MM/DD/YYYY" required>
                <div class="input-group-append">
                                                    <span class="input-group-text rounded-0 g-color-gray-dark-v5"></span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>Gender<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="" type="radio" isrequire="1" id="PatientGenderM" name="PatientGender"
                {% if Pat.PatientGender == 'M' %} checked {% endif %}
                   value="M">&nbsp;<label for="PatientGenderM">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="PatientGenderF" name="PatientGender"
                    {% if Pat.PatientGender == 'F' %} checked {% endif %}
                   value="F">&nbsp;<label for="PatientGenderF">Female</label>
    </tr>
    <tr>
        <td>Address<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" isrequire="1" maxlength="50"
                   name="PatientAddrStreet" value="{{ Pat.PatientAddrStreet }}"
                   id="PatientAddrStreet" style="width: 100%"/></td>
    </tr>
    <tr>
        <td>Apartment Number</td>
        <td><input class="form-control" type="text" maxlength="5" isrequire="0"
                   name="PatientAddrApt" value="{{ Pat.PatientAddrApt }}"
                   id="PatientAddrApt"/></td>
    </tr>
    <tr>
        <td>City<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" isrequire="1" maxlength="16"
                   name="PatientAddrCity" value="{{ Pat.PatientAddrCity }}"
                   id="PatientAddrCity"></td>
    </tr>
    <tr>
        <td>State<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><select class="form-control" name="PatientAddrState" isrequire="1"
                    id="PatientAddrState">
            <option value="" selected="selected">Select a State</option>
            <option value="NY">New York</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select></td>

    </tr>

    <tr>
        <td>County<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><select class="form-control" name="PatientAddrCounty" isrequire="1"
                    id="PatientAddrCounty">
            <option value="" selected="selected">Select a County</option>
            <option data-value="10244" value="Albany">Albany</option>
            <option data-value="10245" value="Allegany">Allegany</option>
            <option data-value="10246" value="Bronx">Bronx</option>
            <option data-value="10247" value="Broome">Broome</option>
            <option data-value="10248" value="Cattaraugus">Cattaraugus</option>
            <option data-value="10249" value="Cayuga">Cayuga</option>
            <option data-value="10250" value="Chautauqua">Chautauqua</option>
            <option data-value="10251" value="Chemung">Chemung</option>
            <option data-value="10252" value="Chenango">Chenango</option>
            <option data-value="10253" value="Clinton">Clinton</option>
            <option data-value="10254" value="Columbia">Columbia</option>
            <option data-value="10255" value="Cortland">Cortland</option>
            <option data-value="10256" value="Delaware">Delaware</option>
            <option data-value="10257" value="Dutchess">Dutchess</option>
            <option data-value="10258" value="Erie">Erie</option>
            <option data-value="10259" value="Essex">Essex</option>
            <option data-value="10260" value="Franklin">Franklin</option>
            <option data-value="10261" value="Fulton">Fulton</option>
            <option data-value="10262" value="Genesee">Genesee</option>
            <option data-value="10263" value="Greene">Greene</option>
            <option data-value="10264" value="Hamilton">Hamilton</option>
            <option data-value="10265" value="Herkimer">Herkimer</option>
            <option data-value="10266" value="Jefferson">Jefferson</option>
            <option data-value="10267" value="Kings (Brooklyn)">Kings (Brooklyn)</option>
            <option data-value="10268" value="Lewis">Lewis</option>
            <option data-value="10269" value="Livingston">Livingston</option>
            <option data-value="10270" value="Madison">Madison</option>
            <option data-value="10271" value="Monroe">Monroe</option>
            <option data-value="10272" value="Montgomery">Montgomery</option>
            <option data-value="10273" value="Nassau">Nassau</option>
            <option data-value="10274" value="New York (Manhattan)">New York (Manhattan)</option>
            <option data-value="10275" value="Niagara">Niagara</option>
            <option data-value="10276" value="Oneida">Oneida</option>
            <option data-value="10277" value="Onondaga">Onondaga</option>
            <option data-value="10278" value="Ontario">Ontario</option>
            <option data-value="10279" value="Orange">Orange</option>
            <option data-value="10280" value="Orleans">Orleans</option>
            <option data-value="10281" value="Oswego">Oswego</option>
            <option data-value="10282" value="Otsego">Otsego</option>
            <option data-value="10283" value="Putnam">Putnam</option>
            <option data-value="10284" value="Queens">Queens</option>
            <option data-value="10285" value="Rensselaer">Rensselaer</option>
            <option data-value="10286" value="Richmond (Staten Island)">Richmond (Staten Island)</option>
            <option data-value="10287" value="Rockland">Rockland</option>
            <option data-value="10288" value="Saint Lawrence">Saint Lawrence</option>
            <option data-value="10289" value="Saratoga">Saratoga</option>
            <option data-value="10290" value="Schenectady">Schenectady</option>
            <option data-value="10291" value="Schoharie">Schoharie</option>
            <option data-value="10292" value="Schuyler">Schuyler</option>
            <option data-value="10293" value="Seneca">Seneca</option>
            <option data-value="10294" value="Steuben">Steuben</option>
            <option data-value="10295" value="Suffolk">Suffolk</option>
            <option data-value="10296" value="Sullivan">Sullivan</option>
            <option data-value="10297" value="Tioga">Tioga</option>
            <option data-value="10298" value="Tompkins">Tompkins</option>
            <option data-value="10299" value="Ulster">Ulster</option>
            <option data-value="10300" value="Warren">Warren</option>
            <option data-value="10301" value="Washington">Washington</option>
            <option data-value="10302" value="Wayne">Wayne</option>
            <option data-value="10303" value="Westchester">Westchester</option>
            <option data-value="10304" value="Wyoming">Wyoming</option>
            <option data-value="10305" value="Yates">Yates</option>
            <option data-value="10306" value="Outside of NY State">Outside of NY State</option>
        </select></td>

    </tr>

    <tr>
        <td>Zip Code<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" isrequire="1" maxlength="5"
                   name="PatientAddrZip" value="{{ Pat.PatientAddrZip }}"
                   id="PatientAddrZip"></td>
    </tr>
    <tr>

        <td>Preferred Language</td>
        <td><select name="PatientLanguage" id="PatientLanguage" class="form-control">
            <option value="English" {% if Pat.Language == 'English' %} selected {% endif %}>English</option>
            <option value="Chinese" {% if Pat.Language == 'Chinese' %} selected {% endif %}>Chinese</option>
            <option value="Spanish" {% if Pat.Language == 'Spanish' %} selected {% endif %}>Spanish</option>
        </select></td>

    </tr>
    <tr>
        <td>Race</td>
        <td><input class="form-control" type="text" readonly
                   placeholder="Click Here To Choose" name="PatientRaceName" value="{{ Pat.PatientRaceName }}"
                   id="patientRaceName" onclick="showRaceDialog()"/>
            <input class="form-control" type="hidden" value="{{ Pat.PatientRaceCode }}"
                   name="PatientRaceCode" id="patientRaceCode"/>
        </td>
    </tr>
    <tr>
        <td>Ethnicity</td>
        <td>
            <!--
            <select name="PatientEthnicityCode" value="PatientEthnicityCode" class="form-control">
                <option value=""> </option>
                <option value="E1" {% if Pat.PatientEthnicityCode == 'E1' %}selected{% endif %}>Hispanic Or Latino</option>
                <option value="E2" {% if Pat.PatientEthnicityCode == 'E2' %}selected{% endif %}>Not Hispanic Or Latino</option>
                <option value="E3" {% if Pat.PatientEthnicityCode == 'E3' %}selected{% endif %}>Prefer not to answer</option>
            </select>-->

            <input class="form-control" type="text" readonly
                   placeholder="Click Here To Choose" name="PatientEthnicityName" value="{{ Pat.PatientEthnicityName }}"
                   id="patientEthnicityName" onclick="showEthnicityDialog()"/>
            <input class="form-control" type="hidden" value="{{ Pat.PatientEthnicityCode }}"
                   value="" name="PatientEthnicityCode"
                   id="patientEthnicityCode"/>

        </td>
    </tr>
    <tr>
        <td>Home Phone</td>
        <td><input class="form-control" type="text" isphone="1" isrequire="0"
                   name="PatientHomePhone" value="{{ Pat.PatientHomePhone }}"
                   maxlength="16" id="PatientHomePhone"
                   onkeydown="oldPhoneTextValue = this.value;"
                   onkeyup="autoFillPhone(this,event);" title="xxx-xxx-xxxx"></td>
    </tr>
    <tr>
        <td>Mobile Number<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" isphone="1" type="text" maxlength="16"
                   isrequire="1" value="{{ Pat.PatientMobilePhone }}"
                   onkeydown="oldPhoneTextValue = this.value;" title="xxx-xxx-xxxx"
                   name="PatientMobilePhone" id="PatientMobilePhone"
                   onkeyup="autoFillPhone(this,event);"></td>
    </tr>
    {% if PageButtonSubmit != 'Update' %}
    <tr>
        <td title="login with email to get your lab result">Email

                <i class="fa fa-fw fa-asterisk text-danger"></i>

        </td>
        <td><input class="form-control" type="text" maxlength="32" isrequire="1"
                   name="PatientEmail" value="{{ Pat.PatientEMail }}"
                   id="PatientEmail" style="width: 100%"></td>

    </tr>
    {% endif %}
    {% if PageMode == 'SignUp' and PageShowPassword %}
        <tr>
            <td>Password <i class="fa fa-fw fa-asterisk text-danger"></i></td>
            <td><input class="form-control" type="password" maxlength="32"
                       name="Password" id="Password" style="width: 100%"></td>

        </tr>
    {% endif %}
    <tr>
        <td style="line-height: 0.8">Do you have a Primary<br/>Care Physician?<i
                class="fa fa-fw fa-asterisk text-danger"></i>
        </td>
        <td><input type="radio" isrequire="1" name="HasPCP" onclick="changePCP(1)"  {% if Pat.PCPFlag == "1" %}
                   checked {% endif %}
                   value="1" id="HasPCPYes"/>&nbsp;<label for="HasPCPYes">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="HasPCP" value="0" onclick="changePCP(0)"      {% if Pat.PCPFlag == "0" %}
                   checked {% endif %}
                   id="HasPCPNo"/>&nbsp;<label for="HasPCPNo"></label>No
        </td>
    </tr>
    <tr id="trPCPName" style="display: none">
        <td>Physician Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" maxlength="50" name="PCPName" id="PCPName" value="{{ Pat.PCPName }}"
                   style="width: 80%">
            {#                                        &nbsp;&nbsp;<a href="javascript:void(0)"#}
            {#                                                                                 onclick="searchProvider()">Search</a>#}

            <select class="form-control" id="SOMOSProviderList" style="display: none;"
                    onchange="replacePCP()"></select></td>
    </tr>
    <tr id="trPCPPhone" style="display: none;">
        <td style=" line-height: 0.7">Physican Contact Number<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" isphone="1" maxlength="16" name="PCPPhone"
                   value="{{ Pat.PCPNumber }}"
                   id="PCPPhone"
                   title="xxx-xxx-xxxx" onkeydown="oldPhoneTextValue = this.value;"
                   onkeyup="autoFillPhone(this,event);"></td>
    </tr>
    <tr>
        <td>Do you have insurance?</td>
        <td><select class="form-control" id="HealthInsurance"
                    onchange="changeInsurance(this)"
                    name="HealthInsurance">
            <option value="0"  {% if Pat.InsuredFlag == "0" %} selected {% endif %}>No</option>
            <option value="1"  {% if Pat.InsuredFlag == "1" %} selected {% endif %}>Yes</option>
        </select></td>
    </tr>
{#    <input id="HealthInsurance" type="hidden" value="1">#}
    <tr id="trInsuName" style="display:none" >
        <td>Insurance Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" maxlength="50"
                   name="HealthInsuranceName" value="{{ Pat.InsuredName }}"
                   id="HealthInsuranceName"></td>
    </tr>
    <tr id="trInsuID" style="display:none" >
        <td>Insurance ID<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control" type="text" maxlength="50"
                   name="HealthInsuranceID" value="{{ Pat.InsuredID }}"
                   id="HealthInsuranceID"></td>
    </tr>

    <tr>
        <td style="line-height: 0.9">Employer /<br>City Agency</td>
        <td><input class="form-control" type="text" name="EmployerName"  maxlength="100"
                   value="{{ Pat.EmployerName }}"/></td>
    </tr>
    <tr>
        <td style="line-height: 0.9">Employee Identification /<br>Reference<br>Number</td>
        <td><input class="form-control" type="text" name="EIN"  maxlength="7"
                   value="{{ Pat.EIN }}"/></td>
    </tr>

    <tr>
        <td class="tdInputTitle">Work Phone</td>
        <td>
            <input class="form-control" type="text" name="PatientWorkPhone" maxlength="16"
                   style="width: 200px;display:inline;"
                   id="patientWorkPhone" value="{{ Pat.PatientWorkPhone }}"
                   title="axxx-xxx-xxxx"/> -
            <input class="form-control" type="text" name="PatientWorkPhoneExt" style="width: 38px;display:inline;"
                   maxlength="6" value="{{ Pat.PatientWorkPhoneExt }}"
                   id="patientWorkPhoneExt"/>
        </td>
    </tr>
    <tr>
        <td style="line-height: 0.9">Receive Text Notifications?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="" type="radio" isrequire="1" id="PatientTextNotifY" name="PatientTextNotif"
                {% if Pat.NotificationText == '1' %} checked {% endif %}
                   value=1>&nbsp;<label for="PatientTextNotifY">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="PatientTextNotifN" name="PatientTextNotif"
                    {% if Pat.NotificationText == '0' %} checked {% endif %}
                   value=0>&nbsp;<label for="PatientTextNotifN">No</label>
    </tr>
    <tr>
        <td style="line-height: 0.9">Receive Email Notifications?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="" type="radio" isrequire="1" id="PatientEmailNotifY" name="PatientEmailNotif"
                {% if Pat.NotificationEmail == '1' %} checked {% endif %}
                   value=1>&nbsp;<label for="PatientEmailNotifY">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="PatientEmailNotifN" name="PatientEmailNotif"
                    {% if Pat.NotificationEmail == '0' %} checked {% endif %}
                   value=0>&nbsp;<label for="PatientEmailNotifN">No</label>
    </tr>
</table>

